<div class="" ng-controller="mainController">
  <div class="div-loading" ng-if="loading">
    <div class="div-loading-content">
      <div class="div-logo">
        <img src="imgs/SimpleTraderLogoSemBorda.png" width="186px" height="186px" alt="">
      </div>
      <div class="preloader-wrapper bigSimple active">
      <div class="spinner-layer spinner-white">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      </div>
      <div class="white-text fs2-1rem carregado-shadow">
        LOADING...
      </div>
    </div>
  </div>

  <nav>
    <div class="nav-wrapper nav-main">
      <a href="#" class="brand-logo center">SimpleTrader</a>
      <ul id="nav-mobile" class="left">
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col s12 m6">
      <div class="card card-main-info darken-1">
        <div class="card-content white-text">
          <span class="card-title text-cinza margin-zero">LiteCoin</span>
          <p class="text-cinza text-padrao fs16">{{dataAtualizacaoLTC}}</p>
          <span class="card-title">{{mediaParaCompra}}
            <span class="text-padrao fs24" ng-style="corDiferenca">{{diferenca}}</span>
            <span class="text-padrao fs24" ng-style="corDiferenca">{{porcentagem}}</span>
          </span>
        <canvas id="line" class="chart chart-line" chart-data="data1"
        chart-labels="labels1" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick"
        chart-colors="colors">
        </canvas>
        <div class="dados-subGraf">
          <div class="row">
            <div class="col s12 m3 l3 text-cinza text-padrao"><p>High</p></div>
            <div class="col s12 m3 l3 text-padrao"><p>{{maiorNegociacaoLTC}}</p></div>
            <div class="col s12 m3 l3 text-cinza text-padrao"><p>Low</p></div>
            <div class="col s12 m3 l3 text-padrao"><p>{{menorNegociacaoLTC}}</p></div>
          </div>
          <div class="row">
            <div class="col s12 m3 l3 text-cinza text-padrao"><p>Volume</p></div>
            <div class="col s12 m3 l3 text-padrao"><p>{{volumeMoedaLTC}}</p></div>
            <div class="col s12 m3 l3 text-cinza text-padrao"><p>Last</p></div>
            <div class="col s12 m3 l3 text-padrao"><p>{{precoUltimoNegociadoLTC}}</p></div>
          </div>
        </div>
        <div ng-if="useronLTC">
          <div class="row">
            <div class="col s3 text-cinza text-padrao"><p>Saldo</p></div>
            <div class="col s6 text-padrao"><p>{{mostraQtdLTCUser}}</p></div>
          </div>
          <div class="row">
            <div class="col s4 text-cinza text-padrao"><p>Estado Atual</p></div>
            <div class="col s6 text-padrao fs18"><p>{{estadoReaisLTC}}</p></div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col s12 m6">
      <div class="card card-main-info darken-1">
        <div class="card-content white-text">
          <span class="card-title text-cinza margin-zero">BitCoin</span>
          <p class="text-cinza text-padrao fs16">{{dataAtualizacaoBTC}}</p>
          <span class="card-title">{{mediaParaCompraBTC}}
            <span class="text-padrao fs24" ng-style="corDiferencaBTC">{{diferencaBTC}}</span>
            <span class="text-padrao fs24" ng-style="corDiferencaBTC">{{porcentagemBTC}}</span>
          </span>
        <canvas id="line2" class="chart chart-line" chart-data="data2"
        chart-labels="labels2" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick"
        chart-colors="colors">
        </canvas>
        <div class="dados-subGraf">
          <div class="row">
            <div class="col s12 m3 l3 text-cinza text-padrao"><p>High</p></div>
            <div class="col s12 m3 l3 text-padrao"><p>{{maiorNegociacaoBTC}}</p></div>
            <div class="col s12 m3 l3 text-cinza text-padrao"><p>Low</p></div>
            <div class="col s12 m3 l3 text-padrao"><p>{{menorNegociacaoBTC}}</p></div>
          </div>
          <div class="row">
            <div class="col s12 m3 l3 text-cinza text-padrao"><p>Volume</p></div>
            <div class="col s12 m3 l3 text-padrao"><p>{{volumeMoedaBTC}}</p></div>
            <div class="col s12 m3 l3 text-cinza text-padrao"><p>Last</p></div>
            <div class="col s12 m3 l3 text-padrao"><p>{{precoUltimoNegociadoBTC}}</p></div>
          </div>
        </div>
        <div ng-if="useronBTC">
          <div class="row">
            <div class="col s3 text-cinza text-padrao"><p>Saldo</p></div>
            <div class="col s6 text-padrao"><p>{{mostraQtdBTCUser}}</p></div>
          </div>
          <div class="row">
            <div class="col s4 text-cinza text-padrao"><p>Estado Atual</p></div>
            <div class="col s6 text-padrao fs18"><p>{{estadoReaisBTC}}</p></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="fixed-action-btn horizontal">
  </div>

  <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large info-fButton">
      <i class="material-icons icon-large">menu</i>
    </a>
    <ul>
      <li><a data-target="modal1" class="btn-floating waves-effect waves-light button-color-gray"><i class="material-icons">info</i></a></li>
      <li><a class="btn-floating waves-effect waves-light button-color-blue"><i class="material-icons">more_horiz</i></a></li>
      <li><a data-target="modal2" class="btn-floating waves-effect waves-light button-color-green"><i class="material-icons">account_circle</i></a></li>
    </ul>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer modal-info html-index">
      <div class="card horizontal card-com-margem card-main-info">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="imgs/SimpleTraderLogoSemBorda.png">
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4 text-branco brand-logo fs22">SimpleTrader<i class="material-icons right">more_vert</i></span>
          <ul>
            <p class="text-branco">Desenvolvido com:</p><br>
            <li class="text-branco">Electron v1.6.2</li>
            <li class="text-branco">AngularJS v1.6.4</li>
            <li class="text-branco">AngularSqlite v0.1.4</li>
          </ul>

        </div>
        <div class="card-reveal card-main-info-imp">
          <span class="card-title text-darken-4 text-branco brand-logo">SimpleTrader<i class="material-icons right">close</i></span>
          <ul>
            <li class="text-branco">Autor: Davi Bispo</li>
            <li class="text-branco">API de dados: MercadoBitCoin</li>
            <li class="text-branco">Versão: {{versaoST}}</li>
          </ul>
        </div>
      </div>
    <div class="modal-footer card-main-info-imp">
      <a class="modal-action text-branco modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>
  <div id="modal2" ng-class="modalLogin" class="modal modal-fixed-footer html-index">
    <div class="row">
      <form class="col s12" ng-if="!logado">
        <div class="row text-align-center login-title">
          <span class="text-branco fs24 text-padrao">Vincule sua Conta!</span><br>
          <span class="text-cinza text-padrao fs16">Login automático em sua conta do MercadoBitCoin</span>
        </div>
        <div class="row row-inputs">
          <div class="input-field col s12">
            <input id="user" type="text" class="validate text-branco fs16" ng-model="tapiIDInp">
            <label for="user">TAPI-ID</label>
          </div>
        </div>
        <div class="row row-inputs">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate text-branco fs16" ng-model="secretInp">
            <label for="password">SECRET</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4 l2"></div>
          <div class="col s12 m4 l8 text-align-center">
            <button class="btn waves-effect waves-light" ng-click="login()" name="action">SIGN-IN</button>
          </div>
          <div class="col s12 m4 l2"></div>
        </div>
        <div class="row">
          <div class="col s12 m4 l2"></div>
          <div class="col s12 m4 l8 text-align-center">
            <span class="text-cinza text-padrao fs12">Não tem uma conta ainda?</span><br>
            <span class="text-cinza text-padrao fs12">Acesse MercadoBitCoin.com.br</span><br>
          </div>
          <div class="col s12 m4 l2"></div>
        </div>
      </form>
      <div class="row" ng-if="logado">
        <div class="col s3">
          <div class="card card-main-info darken-1">
            <div class="card-content white-text">
              <span class="card-title text-cinza margin-zero">Opções</span>
            </div>
            <div class="card-content white-text card-padding-10">
              <div class="row row-margin-bottom-10">
                <button class="btn btn-logado waves-light" ng-click="transition1()">Info</button>
              </div>
              <div class="row row-margin-bottom-10">
                <button class="btn btn-logado waves-light" ng-click="transition2()">Ordens</button>
              </div>
              <div class="row row-margin-bottom-10">
                <button class="btn btn-logado waves-light" ng-click="transition3()">Compra</button>
              </div>
              <div class="row row-margin-bottom-10">
                <button class="btn btn-logado waves-light" ng-click="transition4()">Venda</button>
              </div>
              <div class="row row-margin-bottom-10">
                <button class="btn btn-logado waves-light" ng-click="logoff()" name="action">Log Out</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col s9">
          <div class="card card-main-info darken-1">
            <div id="infoConta" ng-if="tab1">
              <div class="card-content white-text">
                <span class="card-title text-cinza margin-zero">Informações da Conta</span>
                <p class="text-cinza text-padrao fs16">{{dataAtualizacaoUserInfo}}</p>
              </div>
              <div class="card-content white-text card-top-padding-0">
                <div class="row">
                  <div class="col s12 m3 l3 text-cinza text-padrao"><p>Saldo em R$</p></div>
                  <div class="col s12 m3 l3 text-padrao"><p>{{qtdRSUser}}</p></div>
                  <div class="col s12 m3 l3 text-cinza text-padrao"><p>Retirada em R$</p></div>
                  <div class="col s12 m3 l3 text-padrao"><p>{{retRSUser}}</p></div>
                </div>
                <div class="row">
                  <div class="col s12 m3 l3 text-cinza text-padrao"><p>Saldo em LTC</p></div>
                  <div class="col s12 m3 l3 text-padrao"><p>{{qtdLTCUser}}</p></div>
                  <div class="col s13 m3 l3 text-cinza text-padrao"><p>Retirada em LTC</p></div>
                  <div class="col s12 m3 l3 text-padrao"><p>{{retLTCUser}}</p></div>
                </div>
                <div class="row">
                  <div class="col s12 m3 l3 text-cinza text-padrao"><p>Saldo em BTC</p></div>
                  <div class="col s12 m3 l3 text-padrao"><p>{{qtdBTCUser}}</p></div>
                  <div class="col s13 m3 l3 text-cinza text-padrao"><p>Retirada em BTC</p></div>
                  <div class="col s12 m3 l3 text-padrao"><p>{{retBTCUser}}</p></div>
                </div>
              </div>
            </div>
            <div id="listaOrdens" ng-if="tab2">
              <div class="card-content white-text">
                <span class="card-title text-cinza margin-zero">Últimas Ordens</span>
                <p class="text-cinza text-padrao fs16">{{dataAtualizacaoOrdemInfo}}</p>
              </div>
              <div class="row card-content white-text card-top-padding-0">
                <ul id="tabs-swipe-demo" class="tabs tabs-ul-style">
                  <li class="tab col s3"><a ng-class="tableTabAct1" class="tabs-select-style waves-effect waves-light" ng-click="tableOrdem1()">LiteCoin</a></li>
                  <li class="tab col s3"><a ng-class="tableTabAct2" class="tabs-select-style waves-effect waves-light" ng-click="tableOrdem2()">BitCoin</a></li>
                </ul>
                <div ng-if="table1">
                  <table class="bordered">
                      <tr>
                        <th>Tipo Ordem</th>
                        <th>Status</th>
                        <th>Qtd. Moeda</th>
                        <th>Unid. R$</th>
                        <th>Taxa</th>
                        <th>Líquido</th>
                      </tr>
                      <tr ng-repeat="row in listaOrdemLTC">
                        <td ng-if="row.order_type == 1"><i class="material-icons compra-seta">arrow_upward</i> Buy LTC</td>
                        <td ng-if="row.order_type == 2"><i class="material-icons venda-bola">adjust</i> Sell R$</td>
                        <td ng-if="row.status == 2">Aberta</td>
                        <td ng-if="row.status == 3">Cancelada</td>
                        <td ng-if="row.status == 4">Concluída</td>
                        <td>{{row.quantity}}</td>
                        <td>{{row.limit_price}}</td>
                        <td>{{row.fee}}</td>
                        <td ng-if="row.order_type == 2">{{row.executed_quantity * row.limit_price - row.fee}}</td>
                        <td ng-if="row.order_type == 1">{{row.executed_quantity - row.fee}}</td>
                      </tr>
                    </table>
                  </div>
                <div ng-if="table2">
                  <table class="bordered">
                      <tr>
                        <th>Tipo Ordem</th>
                        <th>Status</th>
                        <th>Qtd. Moeda</th>
                        <th>Unid. R$</th>
                        <th>Taxa</th>
                        <th>Líquido</th>
                      </tr>
                      <tr ng-repeat="row in listaOrdemBTC">
                        <td ng-if="row.order_type == 1 && row.coin_pair == flagBTC"><i class="material-icons compra-seta">arrow_upward</i> Buy BTC</td>
                        <td ng-if="row.order_type == 2 && row.coin_pair == flagBTC"><i class="material-icons venda-bola">adjust</i> Sell R$</td>
                        <td ng-if="row.status == 2 && row.coin_pair == flagBTC">Aberta</td>
                        <td ng-if="row.status == 3 && row.coin_pair == flagBTC">Cancelada</td>
                        <td ng-if="row.status == 4 && row.coin_pair == flagBTC">Concluída</td>
                        <td ng-if="row.coin_pair == flagBTC">{{row.quantity}}</td>
                        <td ng-if="row.coin_pair == flagBTC">{{row.limit_price}}</td>
                        <td ng-if="row.coin_pair == flagBTC">{{row.fee}}</td>
                        <td ng-if="row.coin_pair == flagBTC && row.order_type == 2">R$ {{row.executed_quantity * row.limit_price - row.fee}}</td>
                        <td ng-if="row.coin_pair == flagBTC && row.order_type == 1">BTC {{row.executed_quantity - row.fee}}</td>
                      </tr>
                  </table>
                </div>
              </div>
            </div>
            <div id="NovaCompra" ng-if="tab3">
              <div class="card-content white-text">
                <span class="card-title text-cinza margin-zero">Nova Compra</span>
                <p class="text-cinza text-padrao fs16">Abrir uma Nova Ordem de Compra (Buy)</p>
              </div>
              <div class="row card-content white-text card-top-padding-0">
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s3">
                        <p>
                          <input type="checkbox" class="filled-in" id="ltc" ng-checked="compraMDLTC" ng-click="compraCheckBoxLTC()"/>
                          <label for="ltc" class="text-branco">LiteCoin</label>
                        </p>
                      </div>
                      <div class="input-field col s3">
                        <p>
                          <input type="checkbox" class="filled-in" id="btc" ng-checked="compraMDBTC" ng-click="compraCheckBoxBTC()"/>
                          <label for="btc" class="text-branco">BitCoin</label>
                        </p>
                      </div>
                      <div class="input-field col s3" ng-click="selectSaldoTotalCompra()">
                          <input disabled value="R$ {{qtdRSUser}}" id="disabled" type="text" class="validate input-disable-functional">
                          <label class="active label-disable-functional" for="disabled">Saldo</label>
                      </div>
                      <div class="input-field col s3">
                          <input ng-if="compraMDLTC" disabled value="{{mediaParaCompra}}" id="disabled" type="text" class="validate">
                          <input ng-if="compraMDBTC" disabled value="{{mediaParaCompraBTC}}" id="disabled" type="text" class="validate">
                          <label class="active" for="disabled">Valor Atual</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s3">
                        <input id="valorReal" type="text" class="validate" ng-model="valorRealCompra" ng-change="valorInformado()">
                        <label for="valorReal" ng-class="labelValorR$Ativado">Valor em R$</label>
                      </div>
                      <div class="input-field col s3">
                        <input disabled ng-if="compraMDBTC" id="quantidadeMoedaCompraBTC" type="text" class="validate" ng-model="quantidadeMoedaCompraBTC">
                        <input disabled ng-if="compraMDLTC" id="quantidadeMoedaCompraLTC" type="text" class="validate" ng-model="quantidadeMoedaCompraLTC">
                        <label for="quantidadeMoeda" ng-class="labelQuantidadeMoeda">Qtd. Moeda</label>
                      </div>
                      <div class="input-field col s3">
                        <input disabled ng-if="compraMDBTC" id="comissaoBTC" type="text" ng-model="comissaoBTCCompra" class="validate">
                        <input disabled ng-if="compraMDLTC" id="comissaoLTC" type="text" ng-model="comissaoLTCCompra" class="validate">
                        <label for="comissao" ng-class="labelComissao">Comissão</label>
                      </div>
                      <div class="input-field col s3">
                        <input disabled ng-if="compraMDBTC" disabled id="liquidoCompraBTC" type="text" ng-model="liquidoCompraBTC" class="validate">
                        <input disabled ng-if="compraMDLTC" disabled id="liquidoCompraLTC" type="text" ng-model="liquidoCompraLTC" class="validate">
                        <label for="liquidoCompra" ng-class="labelliquidoCompra">Líquido</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m4 l2"></div>
                      <div class="col s12 m4 l8 text-align-center">
                        <button class="btn waves-effect waves-light" ng-click="compraMercado()" name="action">COMPRAR</button>
                      </div>
                      <div class="col s12 m4 l2"></div>
                    </div>
                    <div class="row text-align-center row-margin-bottom-0">
                      <span class="text-cinza text-padrao fs12">*Os valores podem sofrer pequena alteração devido à ativade do mercado</span><br>
                      <span class="text-cinza text-padrao fs12">A operação de compra é irreversível</span><br>
                      <span class="text-cinza text-padrao fs12">Comissão: 0,70% (na Moeda Selecionada)</span><br>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div id="NovaVenda" ng-if="tab4">
              <div class="card-content white-text">
                <span class="card-title text-cinza margin-zero">Nova Venda</span>
                <p class="text-cinza text-padrao fs16">Abrir uma Nova Ordem de Venda (Sell)</p>
              </div>
              <div class="row card-content white-text card-top-padding-0">
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s3">
                        <p>
                          <input type="checkbox" class="filled-in" id="ltc" ng-checked="vendaMDLTC" ng-click="vendaCheckBoxLTC()"/>
                          <label for="ltc" class="text-branco">LiteCoin</label>
                        </p>
                      </div>
                      <div class="input-field col s3">
                        <p>
                          <input type="checkbox" class="filled-in" id="btc" ng-checked="vendaMDBTC" ng-click="vendaCheckBoxBTC()"/>
                          <label for="btc" class="text-branco">BitCoin</label>
                        </p>
                      </div>
                      <div class="input-field col s3" ng-if="vendaMDLTC" ng-click="selectSaldoTotalVendaLTC()">
                          <input disabled value="{{mostraQtdLTCUser}}" id="disabled" type="text" class="validate input-disable-functional">
                          <label class="active label-disable-functional" for="disabled">Saldo</label>
                      </div>
                      <div class="input-field col s3" ng-if="vendaMDBTC" ng-click="selectSaldoTotalVendaBTC()">
                          <input disabled value="{{mostraQtdBTCUser}}" id="disabled" type="text" class="validate input-disable-functional">
                          <label class="active label-disable-functional" for="disabled">Saldo</label>
                      </div>
                      <div class="input-field col s3">
                          <input ng-if="vendaMDLTC" disabled value="{{mediaParaCompra}}" id="disabled" type="text" class="validate">
                          <input ng-if="vendaMDBTC" disabled value="{{mediaParaCompraBTC}}" id="disabled" type="text" class="validate">
                          <label class="active" for="disabled">Valor Atual</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s3">
                        <input id="valorMD" type="text" class="validate" ng-model="valorRealVenda" ng-change="valorInformadoMD()">
                        <label for="valorMD" ng-if="vendaMDBTC" ng-class="labelValorMDAtivado">Valor em BTC</label>
                        <label for="valorMD" ng-if="vendaMDLTC" ng-class="labelValorMDAtivado">Valor em LTC</label>
                      </div>
                      <div class="input-field col s3">
                        <input disabled ng-if="vendaMDBTC" id="quantidadeMoedaVendaBTC" type="text" class="validate" ng-model="quantidadeMoedaVendaBTC">
                        <input disabled ng-if="vendaMDLTC" id="quantidadeMoedaVendaLTC" type="text" class="validate" ng-model="quantidadeMoedaVendaLTC">
                        <label for="quantidadeVenda" ng-class="labelQuantidadeVenda">Qtd. R$</label>
                      </div>
                      <div class="input-field col s3">
                        <input disabled ng-if="vendaMDBTC" id="comissaoVendaBTC" type="text" ng-model="comissaoVendaBTC" class="validate">
                        <input disabled ng-if="vendaMDLTC" id="comissaoVendaLTC" type="text" ng-model="comissaoVendaLTC" class="validate">
                        <label for="comissaoVenda" ng-class="labelComissaoVenda">Comissão</label>
                      </div>
                      <div class="input-field col s3">
                        <input disabled ng-if="vendaMDBTC" id="liquidoVendaBTC" type="text" ng-model="liquidoVendaBTC" class="validate">
                        <input disabled ng-if="vendaMDLTC" id="liquidoVendaLTC" type="text" ng-model="liquidoVendaLTC" class="validate">
                        <label for="liquidoVenda" ng-class="labelliquidoVenda">Líquido</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m4 l2"></div>
                      <div class="col s12 m4 l8 text-align-center">
                        <button class="btn waves-effect waves-light" ng-click="vendaMercado()" name="action">VENDER</button>
                      </div>
                      <div class="col s12 m4 l2"></div>
                    </div>
                    <div class="row text-align-center row-margin-bottom-0">
                      <span class="text-cinza text-padrao fs12">*Os valores podem sofrer pequena alteração devido à ativade do mercado</span><br>
                      <span class="text-cinza text-padrao fs12">A operação de compra é irreversível</span><br>
                      <span class="text-cinza text-padrao fs12">Comissão: 0,70% (na Moeda Selecionada)</span><br>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
    <div id="modalOnline" class="modal modal-fixed-footer modal-connection html-index">
      <div class="card vertical card-com-margem card-main-info">
        <div class="row card-image text-align-center icon-warning-modal-connection">
          <i class="material-icons icon-large icon-internet-fail">warning</i>
        </div>
        <div class="card-content text-align-center">
          <span class="card-title activator text-darken-4 text-branco brand-logo fs22">Internet Error</span>
          <p class="text-cinza text-padrao fs16">Tentando Novamente em 60s</p>
        </div>
      </div>
      <div class="modal-footer card-main-info-imp">
        <a href="#" class="modal-action text-branco modal-close waves-effect waves-green btn-flat">Tentar Novamente</a>
      </div>
    </div>
  </div>
</div>
