<div class="" ng-controller="mainController">

  <div class="div-loading" ng-if="loading">
    <div class="div-loading-content">
      <div class="div-logo">
        <img src="imgs/SimpleTraderLogoSemBorda.png" width="186px" height="186px" alt="">
      </div>
      <div class="preloader-wrapper bigSimple active">
      <div class="spinner-layer spinner-white">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      </div>
      <div class="white-text fs2-1rem carregado-shadow">
        LOADING...
      </div>
    </div>
  </div>
  <nav>
    <div class="nav-wrapper nav-main">
      <a href="#" class="brand-logo center">SimpleTrader</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col s12 m6">
      <div class="card card-main-info darken-1">
        <div class="card-content white-text">
          <span class="card-title text-cinza margin-zero">LiteCoin</span>
          <p class="text-cinza text-padrao fs16">{{dataAtualizacaoLTC}}</p>
          <span class="card-title">{{mediaParaCompra}}
            <span class="text-padrao fs24" ng-style="corDiferenca">{{diferenca}}</span>
            <span class="text-padrao fs24" ng-style="corDiferenca">{{porcentagem}}</span>
          </span>
        <canvas id="line" class="chart chart-line" chart-data="data1"
        chart-labels="labels1" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick"
        chart-colors="colors">
        </canvas>
        <div class="row">
          <div class="col s12 m3 l3 text-cinza text-padrao"><p>High</p></div>
          <div class="col s12 m3 l3 text-padrao"><p>{{maiorNegociacaoLTC}}</p></div>
          <div class="col s12 m3 l3 text-cinza text-padrao"><p>Low</p></div>
          <div class="col s12 m3 l3 text-padrao"><p>{{menorNegociacaoLTC}}</p></div>
        </div>
        <div class="row">
          <div class="col s12 m3 l3 text-cinza text-padrao"><p>Volume</p></div>
          <div class="col s12 m3 l3 text-padrao"><p>{{volumeMoedaLTC}}</p></div>
          <div class="col s12 m3 l3 text-cinza text-padrao"><p>Last</p></div>
          <div class="col s12 m3 l3 text-padrao"><p>{{precoUltimoNegociadoLTC}}</p></div>
        </div>
      </div>
    </div>
    </div>
    <div class="col s12 m6">
      <div class="card card-main-info darken-1">
        <div class="card-content white-text">
          <span class="card-title text-cinza margin-zero">BitCoin</span>
          <p class="text-cinza text-padrao fs16">{{dataAtualizacaoBTC}}</p>
          <span class="card-title">{{mediaParaCompraBTC}}
            <span class="text-padrao fs24" ng-style="corDiferencaBTC">{{diferencaBTC}}</span>
            <span class="text-padrao fs24" ng-style="corDiferencaBTC">{{porcentagemBTC}}</span>
          </span>
        <canvas id="line2" class="chart chart-line" chart-data="data2"
        chart-labels="labels2" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick"
        chart-colors="colors">
        </canvas>
        <div class="row">
          <div class="col s12 m3 l3 text-cinza text-padrao"><p>High</p></div>
          <div class="col s12 m3 l3 text-padrao"><p>{{maiorNegociacaoBTC}}</p></div>
          <div class="col s12 m3 l3 text-cinza text-padrao"><p>Low</p></div>
          <div class="col s12 m3 l3 text-padrao"><p>{{menorNegociacaoBTC}}</p></div>
        </div>
        <div class="row">
          <div class="col s12 m3 l3 text-cinza text-padrao"><p>Volume</p></div>
          <div class="col s12 m3 l3 text-padrao"><p>{{volumeMoedaBTC}}</p></div>
          <div class="col s12 m3 l3 text-cinza text-padrao"><p>Last</p></div>
          <div class="col s12 m3 l3 text-padrao"><p>{{precoUltimoNegociadoBTC}}</p></div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
