<div class="" ng-controller="mainController">
  <div class="div-loading" ng-if="loading">
    <div class="div-loading-content">
      <div class="div-logo unselectable" ng-if="!menuBarOn">
        <img src="imgs/SimpleTraderLogoSemBorda.png" width="186px" height="186px" style="margin-top: 30vh;" alt="">
      </div>
      <div class="div-logo-2 unselectable">
        <div class="preloader-wrapper bigSimple active" style="margin-top: 29.5vh;" ng-if="!menuBarOn">
          <div class="spinner-layer spinner-white" ng-if="!menuBarOn">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <div style="margin-top: 29.5vh;" ng-if="menuBarOn">
          <a class="btn-floating waves-effect waves-light btn-large info-fButton" href="#"><i class="material-icons icon-large">refresh</i></a>
        </div>
        <div class="white-text fs2-1rem carregado-shadow unselectable">
          LOADING...
        </div>
      </div>
    </div>
  </div>

  <nav ng-if="!menuBarOn">
    <div class="nav-wrapper nav-main">
      <a href="#" class="brand-logo center">SimpleTrader</a>
      <ul id="nav-mobile" class="left">
      </ul>
    </div>
  </nav>









  <div class="row" ng-if="menuBarOn">
    <div class="col s12 m6">
      <div class="card card-main-info darken-1">
        <div class="card-content white-text" ng-class='mainViewCard'>
          <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-controls-allow-loop class="image carousel-ang white-text margin-zero">
            <li class="white-text unselectable">
              <div class="card-com-margem">
                <span class="card-title text-cinza margin-zero">LiteCoin</span>
                <p class="text-cinza text-padrao fs16">{{dataAtualizacaoLTC}}</p>
                <span class="card-title margin-zero">{{mediaParaCompra}}</span>
                <div class="margin-row-under-graf">
                  <span class="text-padrao fs24" ng-style="corDiferenca">{{diferenca}}</span>
                  <span class="text-padrao fs24" ng-style="corDiferenca">{{porcentagem}}</span>
                </div>
              </div>
            </li>
            <li class="white-text unselectable">
              <div class="card-com-margem">
                <span class="card-title text-cinza margin-zero">BitCoin</span>
                <p class="text-cinza text-padrao fs16">{{dataAtualizacaoBTC}}</p>
                <span class="card-title margin-zero">{{mediaParaCompraBTC}}</span>
                <div class="margin-row-under-graf">
                  <span class="text-padrao fs24" ng-style="corDiferencaBTC">{{diferencaBTC}}</span>
                  <span class="text-padrao fs24" ng-style="corDiferencaBTC">{{porcentagemBTC}}</span>
                </div>
              </div>
            </li>
            <li class="white-text unselectable">
              <div class="card-com-margem">
                <span class="card-title text-cinza margin-zero">BitCoinCash</span>
                <p class="text-cinza text-padrao fs16">{{dataAtualizacaoBCH}}</p>
                <span class="card-title margin-zero">{{mediaParaCompraBCH}}</span>
                <div class="margin-row-under-graf">
                  <span class="text-padrao fs24" ng-style="corDiferencaBCH">{{diferencaBCH}}</span>
                  <span class="text-padrao fs24" ng-style="corDiferencaBCH">{{porcentagemBCH}}</span>
                </div>
              </div>
            </li>
          </ul>
          <div rn-carousel-indicators ng-if="slides" slides="slides" rn-carousel-index="carouselIndex" class="text-align-center fs24 indicators-ang unselectable"></div>
        </div>
      </div>
    </div>
  </div>













  <div class="row" ng-if="!menuBarOn">
    <div class="col s12 m6">
      <div class="card card-main-info darken-1">
        <div class="card-content white-text">
          <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-controls-allow-loop class="image carousel-ang white-text margin-zero">
            <li class="white-text unselectable">
              <div class="card-com-margem">
                <span class="card-title text-cinza margin-zero">LiteCoin</span>
                <p class="text-cinza text-padrao fs16">{{dataAtualizacaoLTC}}</p>
                <span class="card-title margin-zero">{{mediaParaCompra}}</span>
                <div class="margin-row-under-graf">
                  <span class="text-padrao fs24" ng-style="corDiferenca">{{diferenca}}</span>
                  <span class="text-padrao fs24" ng-style="corDiferenca">{{porcentagem}}</span>
                </div>
                <canvas id="line" class="chart chart-line" chart-data="data1"
                  chart-labels="labels1" chart-series="series" chart-options="options"
                  chart-dataset-override="datasetOverride" chart-click="onClick"
                  chart-colors="colors">
                </canvas>
                <div class="dados-subGraf">
                  <div class="row margin-row-under-graf">
                    <div class="col s12 m3 l3 text-cinza text-padrao"><p>High</p></div>
                    <div class="col s12 m3 l3 text-padrao"><p>{{maiorNegociacaoLTC}}</p></div>
                    <div class="col s12 m3 l3 text-cinza text-padrao"><p>Low</p></div>
                    <div class="col s12 m3 l3 text-padrao"><p>{{menorNegociacaoLTC}}</p></div>
                  </div>
                  <div class="row margin-row-under-graf">
                    <div class="col s12 m3 l3 text-cinza text-padrao"><p>Volume</p></div>
                    <div class="col s12 m3 l3 text-padrao"><p>{{volumeMoedaLTC}}</p></div>
                    <div class="col s12 m3 l3 text-cinza text-padrao"><p>Last</p></div>
                    <div class="col s12 m3 l3 text-padrao"><p>{{precoUltimoNegociadoLTC}}</p></div>
                  </div>
                </div>
                <div ng-if="useronLTC">
                  <div class="row margin-row-under-graf">
                    <div class="col s3 text-cinza text-padrao"><p>Moeda</p></div>
                    <div class="col s6 text-padrao"><p>{{mostraQtdLTCUser}}</p></div>
                  </div>
                  <div class="row margin-row-under-graf">
                    <div class="col s4 text-cinza text-padrao"><p>Saldo</p></div>
                    <div class="col s6 text-padrao fs18"><p>{{estadoReaisLTC}}</p></div>
                  </div>
                </div>
              </div>
            </li>
            <li class="white-text unselectable">
              <div class="card-com-margem">
                <span class="card-title text-cinza margin-zero">BitCoin</span>
                <p class="text-cinza text-padrao fs16">{{dataAtualizacaoBTC}}</p>
                <span class="card-title margin-zero">{{mediaParaCompraBTC}}</span>
                <div class="margin-row-under-graf">
                  <span class="text-padrao fs24" ng-style="corDiferencaBTC">{{diferencaBTC}}</span>
                  <span class="text-padrao fs24" ng-style="corDiferencaBTC">{{porcentagemBTC}}</span>
                </div>
                <canvas id="line2" class="chart chart-line" chart-data="data2"
                  chart-labels="labels2" chart-series="series" chart-options="options"
                  chart-dataset-override="datasetOverride" chart-click="onClick"
                  chart-colors="colors">
                </canvas>
                <div class="dados-subGraf">
                  <div class="row margin-row-under-graf">
                    <div class="col s12 m3 l3 text-cinza text-padrao"><p>High</p></div>
                    <div class="col s12 m3 l3 text-padrao"><p>{{maiorNegociacaoBTC}}</p></div>
                    <div class="col s12 m3 l3 text-cinza text-padrao"><p>Low</p></div>
                    <div class="col s12 m3 l3 text-padrao"><p>{{menorNegociacaoBTC}}</p></div>
                  </div>
                  <div class="row margin-row-under-graf">
                    <div class="col s12 m3 l3 text-cinza text-padrao"><p>Volume</p></div>
                    <div class="col s12 m3 l3 text-padrao"><p>{{volumeMoedaBTC}}</p></div>
                    <div class="col s12 m3 l3 text-cinza text-padrao"><p>Last</p></div>
                    <div class="col s12 m3 l3 text-padrao"><p>{{precoUltimoNegociadoBTC}}</p></div>
                  </div>
                </div>
                <div ng-if="useronBTC">
                  <div class="row margin-row-under-graf">
                    <div class="col s3 text-cinza text-padrao"><p>Moeda</p></div>
                    <div class="col s6 text-padrao"><p>{{mostraQtdBTCUser}}</p></div>
                  </div>
                  <div class="row margin-row-under-graf">
                    <div class="col s4 text-cinza text-padrao"><p>Saldo</p></div>
                    <div class="col s6 text-padrao fs18"><p>{{estadoReaisBTC}}</p></div>
                  </div>
                </div>
              </div>
            </li>
            <li class="white-text unselectable">
              <div class="card-com-margem">
                <span class="card-title text-cinza margin-zero">BitCoinCash</span>
                <p class="text-cinza text-padrao fs16">{{dataAtualizacaoBCH}}</p>
                <span class="card-title margin-zero">{{mediaParaCompraBCH}}</span>
                <div class="margin-row-under-graf">
                  <span class="text-padrao fs24" ng-style="corDiferencaBCH">{{diferencaBCH}}</span>
                  <span class="text-padrao fs24" ng-style="corDiferencaBCH">{{porcentagemBCH}}</span>
                </div>
                <canvas id="line3" class="chart chart-line" chart-data="data3"
                  chart-labels="labels3" chart-series="series" chart-options="options"
                  chart-dataset-override="datasetOverride" chart-click="onClick"
                  chart-colors="colors">
                </canvas>
                <div class="dados-subGraf">
                  <div class="row margin-row-under-graf">
                    <div class="col s12 m3 l3 text-cinza text-padrao"><p>High</p></div>
                    <div class="col s12 m3 l3 text-padrao"><p>{{maiorNegociacaoBCH}}</p></div>
                    <div class="col s12 m3 l3 text-cinza text-padrao"><p>Low</p></div>
                    <div class="col s12 m3 l3 text-padrao"><p>{{menorNegociacaoBCH}}</p></div>
                  </div>
                  <div class="row margin-row-under-graf">
                    <div class="col s12 m3 l3 text-cinza text-padrao"><p>Volume</p></div>
                    <div class="col s12 m3 l3 text-padrao"><p>{{volumeMoedaBCH}}</p></div>
                    <div class="col s12 m3 l3 text-cinza text-padrao"><p>Last</p></div>
                    <div class="col s12 m3 l3 text-padrao"><p>{{precoUltimoNegociadoBCH}}</p></div>
                  </div>
                </div>
                <div ng-if="useronBCH">
                  <div class="row margin-row-under-graf">
                    <div class="col s3 text-cinza text-padrao"><p>Moeda</p></div>
                    <div class="col s6 text-padrao"><p>{{mostraQtdBCHUser}}</p></div>
                  </div>
                  <div class="row margin-row-under-graf">
                    <div class="col s4 text-cinza text-padrao"><p>Saldo</p></div>
                    <div class="col s6 text-padrao fs18"><p>{{estadoReaisBCH}}</p></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div rn-carousel-indicators ng-if="slides" slides="slides" rn-carousel-index="carouselIndex" class="text-align-center fs24 indicators-ang unselectable"></div>
        </div>
      </div>
    </div>
      <div class="col s12 m6">
        <div class="card card-main-info darken-1">
          <div class="card-com-margem">
            <div class="card-content white-text">
              <ul id="orderbookLTC" rn-carousel rn-carousel-index="carouselIndex" rn-carousel-controls-allow-loop class="image carousel-ang-orderbook white-text margin-zero">
                <li>
                  <span class="card-title text-cinza margin-zero">Pedidos</span>
                  <div class="row row-margin-bottom-0 text-align-center">
                    <div class="col s6"><p class="text-cinza text-padrao fs16">Preço</p></div>
                    <div class="col s6"><p class="text-cinza text-padrao fs16">Qtd. Moedas</p></div>
                  </div>
                  <div id="scroll-pane" class="flexcroll">
                    <ul class="collection ul-orderbook">
                      <li class="collection-item collection-itens-orderbook" ng-repeat="row in orderBookLTCAsks">
                        <div class="row row-margin-bottom-0">
                          <div class="col s6"><p>{{row.preco}}</p></div>
                          <div class="col s6"><p>{{row.qtd}}</p></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <span class="card-title text-cinza margin-zero">Lances</span>
                  <div class="row row-margin-bottom-0 text-align-center">
                    <div class="col s6"><p class="text-cinza text-padrao fs16">Preço</p></div>
                    <div class="col s6"><p class="text-cinza text-padrao fs16">Qtd. Moedas</p></div>
                  </div>
                  <div id="scroll-pane" class="flexcroll">
                    <ul class="collection ul-orderbook">
                      <li class="collection-item collection-itens-orderbook" ng-repeat="row in orderBookLTCBids">
                        <div class="row row-margin-bottom-0">
                          <div class="col s6"><p>{{row.preco}}</p></div>
                          <div class="col s6"><p>{{row.qtd}}</p></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <span class="card-title text-cinza margin-zero">Pedidos</span>
                  <div class="row row-margin-bottom-0 text-align-center">
                    <div class="col s6"><p class="text-cinza text-padrao fs16">Preço</p></div>
                    <div class="col s6"><p class="text-cinza text-padrao fs16">Qtd. Moedas</p></div>
                  </div>
                  <div id="scroll-pane" class="flexcroll">
                    <ul class="collection ul-orderbook">
                      <li class="collection-item collection-itens-orderbook" ng-repeat="row in orderBookBTCAsks">
                        <div class="row row-margin-bottom-0">
                          <div class="col s6"><p>{{row.preco}}</p></div>
                          <div class="col s6"><p>{{row.qtd}}</p></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <span class="card-title text-cinza margin-zero">Lances</span>
                  <div class="row row-margin-bottom-0 text-align-center">
                    <div class="col s6"><p class="text-cinza text-padrao fs16">Preço</p></div>
                    <div class="col s6"><p class="text-cinza text-padrao fs16">Qtd. Moedas</p></div>
                  </div>
                  <div id="scroll-pane" class="flexcroll">
                    <ul class="collection ul-orderbook">
                      <li class="collection-item collection-itens-orderbook" ng-repeat="row in orderBookBTCBids">
                        <div class="row row-margin-bottom-0">
                          <div class="col s6"><p>{{row.preco}}</p></div>
                          <div class="col s6"><p>{{row.qtd}}</p></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <span class="card-title text-cinza margin-zero">Pedidos</span>
                  <div class="row row-margin-bottom-0 text-align-center">
                    <div class="col s6"><p class="text-cinza text-padrao fs16">Preço</p></div>
                    <div class="col s6"><p class="text-cinza text-padrao fs16">Qtd. Moedas</p></div>
                  </div>
                  <div id="scroll-pane" class="flexcroll">
                    <ul class="collection ul-orderbook">
                      <li class="collection-item collection-itens-orderbook" ng-repeat="row in orderBookBCHAsks">
                        <div class="row row-margin-bottom-0">
                          <div class="col s6"><p>{{row.preco}}</p></div>
                          <div class="col s6"><p>{{row.qtd}}</p></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <span class="card-title text-cinza margin-zero">Lances</span>
                  <div class="row row-margin-bottom-0 text-align-center">
                    <div class="col s6"><p class="text-cinza text-padrao fs16">Preço</p></div>
                    <div class="col s6"><p class="text-cinza text-padrao fs16">Qtd. Moedas</p></div>
                  </div>
                  <div id="scroll-pane" class="flexcroll">
                    <ul class="collection ul-orderbook">
                      <li class="collection-item collection-itens-orderbook" ng-repeat="row in orderBookBCHBids">
                        <div class="row row-margin-bottom-0">
                          <div class="col s6"><p>{{row.preco}}</p></div>
                          <div class="col s6"><p>{{row.qtd}}</p></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="fixed-action-btn horizontal" ng-if="!menuBarOn">
    <a data-target="modal2" class="btn-floating waves-effect waves-light btn-large info-fButton"><i class="material-icons icon-large">account_circle</i></a>
  </div>
  <!-- Modal Structure -->
  <div id="modal2" ng-class="modalLogin" class="modal modal-fixed-footer html-index">
    <div class="row">
      <div class="col s3">
        <div class="card card-main-info darken-1 row-margin-bottom-8">
          <div class="card-content white-text">
            <span class="card-title text-cinza margin-zero">Opções</span>
          </div>
          <div class="card-content white-text card-padding-10">
            <div class="row row-margin-bottom-10" ng-if="!logado">
              <button class="btn btn-logado waves-light" ng-click="transition0()">Sign In</button>
            </div>
            <div class="row row-margin-bottom-10" ng-if="logado">
              <button class="btn btn-logado waves-light" ng-click="transition1()">Info</button>
            </div>
            <div class="row row-margin-bottom-10" ng-if="logado">
              <button class="btn btn-logado waves-light" ng-click="transition2()">Ordens</button>
            </div>
            <div class="row row-margin-bottom-10" ng-if="logado">
              <button class="btn btn-logado waves-light" ng-click="transition3()">Compra</button>
            </div>
            <div class="row row-margin-bottom-10" ng-if="logado">
              <button class="btn btn-logado waves-light" ng-click="transition4()">Venda</button>
            </div>
            <div class="row row-margin-bottom-10">
              <button class="btn btn-logado waves-light" ng-click="transition5()">Sobre</button>
            </div>
            <div class="row row-margin-bottom-10" ng-if="logado">
              <button class="btn btn-logado waves-light" ng-click="logoff()" name="action">Log Out</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col s9">
        <div class="card card-main-info darken-1">
          <div id="login" ng-if="tab0">
              <div class="row text-align-center login-title">
                <span class="text-branco fs24 text-padrao">Vincule sua Conta!</span><br>
                <span class="text-cinza text-padrao fs16">Login automático em sua conta do MercadoBitCoin</span>
              </div>
              <div class="row row-inputs">
                <div class="input-field col s12">
                  <input id="user" type="text" class="text-branco fs16" ng-model="tapiIDInp">
                  <label for="user">TAPI-ID</label>
                </div>
              </div>
              <div class="row row-inputs">
                <div class="input-field col s12">
                  <input id="password" type="password" class="text-branco fs16" ng-model="secretInp">
                  <label for="password">SECRET</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m4 l2"></div>
                <div class="col s12 m4 l8 text-align-center">
                  <button class="btn waves-effect waves-light" ng-click="login()" name="action">SIGN-IN</button>
                </div>
                <div class="col s12 m4 l2"></div>
              </div>
              <div class="row padding-bottom-20">
                <div class="col s2"></div>
                <div class="col s8 text-align-center">
                  <span class="text-cinza text-padrao fs12">Não tem uma conta ainda?</span><br>
                  <span class="text-cinza text-padrao fs12">Acesse MercadoBitCoin.com.br</span><br>
                </div>
                <div class="col s2"></div>
              </div>
          </div>
          <div id="infoConta" ng-if="tab1">
            <div class="card-content white-text">
              <span class="card-title text-cinza margin-zero">Informações da Conta</span>
              <p class="text-cinza text-padrao fs16">{{dataAtualizacaoUserInfo}}</p>
            </div>
            <div class="card-content white-text card-top-padding-0">
              <div class="row">
                <div class="col s12 m3 l3 text-cinza text-padrao"><p>Saldo em R$</p></div>
                <div class="col s12 m3 l3 text-padrao"><p>{{qtdRSUser}}</p></div>
                <div class="col s12 m3 l3 text-cinza text-padrao"><p>Retirada em R$</p></div>
                <div class="col s12 m3 l3 text-padrao"><p>{{retRSUser}}</p></div>
              </div>
              <div class="row">
                <div class="col s12 m3 l3 text-cinza text-padrao"><p>Saldo em LTC</p></div>
                <div class="col s12 m3 l3 text-padrao"><p>{{qtdLTCUser}}</p></div>
                <div class="col s13 m3 l3 text-cinza text-padrao"><p>Retirada em LTC</p></div>
                <div class="col s12 m3 l3 text-padrao"><p>{{retLTCUser}}</p></div>
              </div>
              <div class="row">
                <div class="col s12 m3 l3 text-cinza text-padrao"><p>Saldo em BTC</p></div>
                <div class="col s12 m3 l3 text-padrao"><p>{{qtdBTCUser}}</p></div>
                <div class="col s13 m3 l3 text-cinza text-padrao"><p>Retirada em BTC</p></div>
                <div class="col s12 m3 l3 text-padrao"><p>{{retBTCUser}}</p></div>
              </div>
              <div class="row">
                <div class="col s12 m3 l3 text-cinza text-padrao"><p>Saldo em BCH</p></div>
                <div class="col s12 m3 l3 text-padrao"><p>{{qtdBCHUser}}</p></div>
                <div class="col s13 m3 l3 text-cinza text-padrao"><p>Retirada em BCH</p></div>
                <div class="col s12 m3 l3 text-padrao"><p>{{retBCHUser}}</p></div>
              </div>
            </div>
          </div>
          <div id="listaOrdens" ng-if="tab2">
            <div class="card-content white-text">
              <span class="card-title text-cinza margin-zero">Últimas Ordens</span>
              <p class="text-cinza text-padrao fs16">{{dataAtualizacaoOrdemInfo}}</p>
            </div>
            <div class="row card-content white-text card-top-padding-0">
              <ul id="tabs-swipe-demo" class="tabs tabs-ul-style">
                <li class="tab col s3"><a ng-class="tableTabAct1" class="tabs-select-style waves-effect waves-light" ng-click="tableOrdem1()">LiteCoin</a></li>
                <li class="tab col s3"><a ng-class="tableTabAct2" class="tabs-select-style waves-effect waves-light" ng-click="tableOrdem2()">BitCoin</a></li>
                <li class="tab col s3"><a ng-class="tableTabAct3" class="tabs-select-style waves-effect waves-light" ng-click="tableOrdem3()">BitCoinCash</a></li>
              </ul>
              <div ng-if="table1">
                <div id="scroll-pane" style="width:100%; height:35vh; overflow-y:scroll; overflow-x:hidden;">
                <table class="bordered">
                    <tr>
                      <th>Tipo Ordem</th>
                      <th>Status</th>
                      <th>Qtd. Moeda</th>
                      <th>Unid. R$</th>
                      <th>Taxa</th>
                      <th>Líquido</th>
                    </tr>
                      <tr ng-repeat="row in listaOrdemLTC">
                        <td ng-if="row.order_type == 1"><i class="material-icons compra-seta">arrow_upward</i> Buy LTC</td>
                        <td ng-if="row.order_type == 2"><i class="material-icons venda-bola">adjust</i> Sell R$</td>
                        <td ng-if="row.status == 2">Aberta</td>
                        <td ng-if="row.status == 3">Cancelada</td>
                        <td ng-if="row.status == 4">Concluída</td>
                        <td>{{row.quantity}}</td>
                        <td>{{row.limit_price}}</td>
                        <td>{{row.fee}}</td>
                        <td ng-if="row.order_type == 2">{{row.liquidoSell}}</td>
                        <td ng-if="row.order_type == 1">{{row.liquidoBuy}}</td>
                      </tr>
                  </table>
                </div>
                </div>
              <div ng-if="table2">
                <div id="scroll-pane" style="width:100%; height:35vh; overflow-y:scroll; overflow-x:hidden;">
                <table class="bordered">
                    <tr>
                      <th>Tipo Ordem</th>
                      <th>Status</th>
                      <th>Qtd. Moeda</th>
                      <th>Unid. R$</th>
                      <th>Taxa</th>
                      <th>Líquido</th>
                    </tr>
                    <tr ng-repeat="row in listaOrdemBTC">
                      <td ng-if="row.order_type == 1"><i class="material-icons compra-seta">arrow_upward</i> Buy BTC</td>
                      <td ng-if="row.order_type == 2"><i class="material-icons venda-bola">adjust</i> Sell R$</td>
                      <td ng-if="row.status == 2">Aberta</td>
                      <td ng-if="row.status == 3">Cancelada</td>
                      <td ng-if="row.status == 4">Concluída</td>
                      <td>{{row.quantity}}</td>
                      <td>{{row.limit_price}}</td>
                      <td>{{row.fee}}</td>
                      <td ng-if="row.order_type == 2">R$ {{row.executed_quantity * row.limit_price - row.fee}}</td>
                      <td ng-if="row.order_type == 1">BTC {{row.executed_quantity - row.fee}}</td>
                    </tr>
                </table>
                </div>
              </div>
              <div ng-if="table3">
                <div id="scroll-pane" style="width:100%; height:35vh; overflow-y:scroll; overflow-x:hidden;">
                <table class="bordered">
                    <tr>
                      <th>Tipo Ordem</th>
                      <th>Status</th>
                      <th>Qtd. Moeda</th>
                      <th>Unid. R$</th>
                      <th>Taxa</th>
                      <th>Líquido</th>
                    </tr>
                    <tr ng-repeat="row in listaOrdemBCH">
                      <td ng-if="row.order_type == 1"><i class="material-icons compra-seta">arrow_upward</i> Buy BCH</td>
                      <td ng-if="row.order_type == 2"><i class="material-icons venda-bola">adjust</i> Sell R$</td>
                      <td ng-if="row.status == 2">Aberta</td>
                      <td ng-if="row.status == 3">Cancelada</td>
                      <td ng-if="row.status == 4">Concluída</td>
                      <td>{{row.quantity}}</td>
                      <td>{{row.limit_price}}</td>
                      <td>{{row.fee}}</td>
                      <td ng-if="row.order_type == 2">R$ {{row.executed_quantity * row.limit_price - row.fee}}</td>
                      <td ng-if="row.order_type == 1">BCH {{row.executed_quantity - row.fee}}</td>
                    </tr>
                </table>
                </div>
              </div>
            </div>
          </div>
          <div id="NovaCompra" ng-if="tab3">
            <div class="card-content white-text">
              <span class="card-title text-cinza margin-zero">Nova Compra</span>
              <p class="text-cinza text-padrao fs16">Abrir uma Nova Ordem de Compra (Buy)</p>
            </div>
            <div class="row card-content white-text card-top-padding-0">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s2">
                      <p>
                        <input type="checkbox" class="filled-in" id="ltc" ng-checked="compraMDLTC" ng-click="compraCheckBoxLTC()"/>
                        <label for="ltc" class="text-branco">LTC</label>
                      </p>
                    </div>
                    <div class="input-field col s2">
                      <p>
                        <input type="checkbox" class="filled-in" id="btc" ng-checked="compraMDBTC" ng-click="compraCheckBoxBTC()"/>
                        <label for="btc" class="text-branco">BTC</label>
                      </p>
                    </div>
                    <div class="input-field col s2">
                      <p>
                        <input type="checkbox" class="filled-in" id="bch" ng-checked="compraMDBCH" ng-click="compraCheckBoxBCH()"/>
                        <label for="bch" class="text-branco">BCH</label>
                      </p>
                    </div>
                    <div class="input-field col s3" ng-click="selectSaldoTotalCompra()">
                        <input disabled value="R$ {{qtdRSUser}}" id="disabled" type="text" class="validate input-disable-functional">
                        <label class="active label-disable-functional" for="disabled">Saldo</label>
                    </div>
                    <div class="input-field col s3">
                        <input ng-if="compraMDLTC" disabled value="{{mediaParaCompra}}" id="disabled" type="text" class="validate">
                        <input ng-if="compraMDBTC" disabled value="{{mediaParaCompraBTC}}" id="disabled" type="text" class="validate">
                        <input ng-if="compraMDBCH" disabled value="{{mediaParaCompraBCH}}" id="disabled" type="text" class="validate">
                        <label class="active" for="disabled">Valor Atual</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s3">
                      <input id="valorReal" type="text" class="validate" ng-model="valorRealCompra" ng-change="valorInformado()">
                      <label for="valorReal" ng-class="labelValorR$Ativado">Valor em R$</label>
                    </div>
                    <div class="input-field col s3">
                      <input disabled ng-if="compraMDBTC" id="quantidadeMoedaCompraBTC" type="text" class="validate" ng-model="quantidadeMoedaCompraBTC">
                      <input disabled ng-if="compraMDLTC" id="quantidadeMoedaCompraLTC" type="text" class="validate" ng-model="quantidadeMoedaCompraLTC">
                      <input disabled ng-if="compraMDBCH" id="quantidadeMoedaCompraBCH" type="text" class="validate" ng-model="quantidadeMoedaCompraBCH">
                      <label for="quantidadeMoeda" ng-class="labelQuantidadeMoeda">Qtd. Moeda</label>
                    </div>
                    <div class="input-field col s3">
                      <input disabled ng-if="compraMDBTC" id="comissaoBTC" type="text" ng-model="comissaoBTCCompra" class="validate">
                      <input disabled ng-if="compraMDLTC" id="comissaoLTC" type="text" ng-model="comissaoLTCCompra" class="validate">
                      <input disabled ng-if="compraMDBCH" id="comissaoBCH" type="text" ng-model="comissaoBCHCompra" class="validate">
                      <label for="comissao" ng-class="labelComissao">Comissão</label>
                    </div>
                    <div class="input-field col s3">
                      <input disabled ng-if="compraMDBTC" disabled id="liquidoCompraBTC" type="text" ng-model="liquidoCompraBTC" class="validate">
                      <input disabled ng-if="compraMDLTC" disabled id="liquidoCompraLTC" type="text" ng-model="liquidoCompraLTC" class="validate">
                      <input disabled ng-if="compraMDBCH" disabled id="liquidoCompraBCH" type="text" ng-model="liquidoCompraBCH" class="validate">
                      <label for="liquidoCompra" ng-class="labelliquidoCompra">Líquido</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12 m4 l2"></div>
                    <div class="col s12 m4 l8 text-align-center">
                      <button class="btn waves-effect waves-light" ng-click="compraMercado()" name="action">COMPRAR</button>
                    </div>
                    <div class="col s12 m4 l2"></div>
                  </div>
                  <div class="row text-align-center row-margin-bottom-0">
                    <span class="text-cinza text-padrao fs12">*Os valores podem sofrer pequena alteração devido à ativade do mercado</span><br>
                    <span class="text-cinza text-padrao fs12">A operação de compra é irreversível</span><br>
                    <span class="text-cinza text-padrao fs12">Comissão: 0,70% (na Moeda Selecionada)</span><br>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div id="NovaVenda" ng-if="tab4">
            <div class="card-content white-text">
              <span class="card-title text-cinza margin-zero">Nova Venda</span>
              <p class="text-cinza text-padrao fs16">Abrir uma Nova Ordem de Venda (Sell)</p>
            </div>
            <div class="row card-content white-text card-top-padding-0">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s2">
                      <p>
                        <input type="checkbox" class="filled-in" id="ltc" ng-checked="vendaMDLTC" ng-click="vendaCheckBoxLTC()"/>
                        <label for="ltc" class="text-branco">LTC</label>
                      </p>
                    </div>
                    <div class="input-field col s2">
                      <p>
                        <input type="checkbox" class="filled-in" id="btc" ng-checked="vendaMDBTC" ng-click="vendaCheckBoxBTC()"/>
                        <label for="btc" class="text-branco">BTC</label>
                      </p>
                    </div>
                    <div class="input-field col s2">
                      <p>
                        <input type="checkbox" class="filled-in" id="bch" ng-checked="vendaMDBCH" ng-click="vendaCheckBoxBCH()"/>
                        <label for="bch" class="text-branco">BCH</label>
                      </p>
                    </div>
                    <div class="input-field col s3" ng-if="vendaMDLTC" ng-click="selectSaldoTotalVendaLTC()">
                        <input disabled value="{{mostraQtdLTCUser}}" id="disabled" type="text" class="validate input-disable-functional">
                        <label class="active label-disable-functional" for="disabled">Saldo</label>
                    </div>
                    <div class="input-field col s3" ng-if="vendaMDBTC" ng-click="selectSaldoTotalVendaBTC()">
                        <input disabled value="{{mostraQtdBTCUser}}" id="disabled" type="text" class="validate input-disable-functional">
                        <label class="active label-disable-functional" for="disabled">Saldo</label>
                    </div>
                    <div class="input-field col s3" ng-if="vendaMDBCH" ng-click="selectSaldoTotalVendaBCH()">
                        <input disabled value="{{mostraQtdBCHUser}}" id="disabled" type="text" class="validate input-disable-functional">
                        <label class="active label-disable-functional" for="disabled">Saldo</label>
                    </div>
                    <div class="input-field col s3">
                        <input ng-if="vendaMDLTC" disabled value="{{mediaParaCompra}}" id="disabled" type="text" class="validate">
                        <input ng-if="vendaMDBTC" disabled value="{{mediaParaCompraBTC}}" id="disabled" type="text" class="validate">
                        <input ng-if="vendaMDBCH" disabled value="{{mediaParaCompraBCH}}" id="disabled" type="text" class="validate">
                        <label class="active" for="disabled">Valor Atual</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s3">
                      <input id="valorMD" type="text" class="validate" ng-model="valorRealVenda" ng-change="valorInformadoMD()">
                      <label for="valorMD" ng-if="vendaMDBTC" ng-class="labelValorMDAtivado">Valor em BTC</label>
                      <label for="valorMD" ng-if="vendaMDLTC" ng-class="labelValorMDAtivado">Valor em LTC</label>
                      <label for="valorMD" ng-if="vendaMDBCH" ng-class="labelValorMDAtivado">Valor em BCH</label>
                    </div>
                    <div class="input-field col s3">
                      <input disabled ng-if="vendaMDBTC" id="quantidadeMoedaVendaBTC" type="text" class="validate" ng-model="quantidadeMoedaVendaBTC">
                      <input disabled ng-if="vendaMDLTC" id="quantidadeMoedaVendaLTC" type="text" class="validate" ng-model="quantidadeMoedaVendaLTC">
                      <input disabled ng-if="vendaMDBCH" id="quantidadeMoedaVendaBCH" type="text" class="validate" ng-model="quantidadeMoedaVendaBCH">
                      <label for="quantidadeVenda" ng-class="labelQuantidadeVenda">Qtd. R$</label>
                    </div>
                    <div class="input-field col s3">
                      <input disabled ng-if="vendaMDBTC" id="comissaoVendaBTC" type="text" ng-model="comissaoVendaBTC" class="validate">
                      <input disabled ng-if="vendaMDLTC" id="comissaoVendaLTC" type="text" ng-model="comissaoVendaLTC" class="validate">
                      <input disabled ng-if="vendaMDBCH" id="comissaoVendaBCH" type="text" ng-model="comissaoVendaBCH" class="validate">
                      <label for="comissaoVenda" ng-class="labelComissaoVenda">Comissão</label>
                    </div>
                    <div class="input-field col s3">
                      <input disabled ng-if="vendaMDBTC" id="liquidoVendaBTC" type="text" ng-model="liquidoVendaBTC" class="validate">
                      <input disabled ng-if="vendaMDLTC" id="liquidoVendaLTC" type="text" ng-model="liquidoVendaLTC" class="validate">
                      <input disabled ng-if="vendaMDBCH" id="liquidoVendaBCH" type="text" ng-model="liquidoVendaBCH" class="validate">
                      <label for="liquidoVenda" ng-class="labelliquidoVenda">Líquido</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12 m4 l2"></div>
                    <div class="col s12 m4 l8 text-align-center">
                      <button class="btn waves-effect waves-light" ng-click="vendaMercado()" name="action">VENDER</button>
                    </div>
                    <div class="col s12 m4 l2"></div>
                  </div>
                  <div class="row text-align-center row-margin-bottom-0">
                    <span class="text-cinza text-padrao fs12">*Os valores podem sofrer pequena alteração devido à ativade do mercado</span><br>
                    <span class="text-cinza text-padrao fs12">A operação de compra é irreversível</span><br>
                    <span class="text-cinza text-padrao fs12">Comissão: 0,70% (na Moeda Selecionada)</span><br>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div id="infoConta" ng-if="tab5">
            <div class="card-content white-text">
              <span class="card-title text-cinza margin-zero">Sobre</span>
            </div>
            <div class="row">
              <div class="col s6">
                <div class="text-align-center">
                  <img src="imgs/SimpleTraderLogoSemBorda.png" width="186px" height="186px">
                </div>
                <div class="white-text fs2-1rem carregado-shadow text-align-center">
                  SimpleTrader
                </div>
                <p class="text-align-center text-cinza">
                  Versão : {{versaoST}}<br>
                  Autor : Davi Bispo
                </p>
              </div>
              <div class="col s6">
                <div class="row">
                  <div class="col">

                    <p class="text-align-center text-cinza">
                      SimpleTrader e todos os direitos reservados pela marca, são de patrimônio de seus criadores
                      e ao adquirir este produto você corcorda automaticamente com esses termos.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>
    <div id="modalOnline" class="modal modal-fixed-footer modal-connection html-index">
      <div class="card vertical card-com-margem card-main-info">
        <div class="row card-image text-align-center icon-warning-modal-connection">
          <i class="material-icons icon-large icon-internet-fail">warning</i>
        </div>
        <div class="card-content text-align-center">
          <span class="card-title activator text-darken-4 text-branco brand-logo fs22">Internet Error</span>
          <p class="text-cinza text-padrao fs16">Verifique sua Conexão</p>
        </div>
      </div>
      <div class="modal-footer card-main-info-imp">
        <a href="#" class="modal-action text-branco modal-close waves-effect waves-green btn-flat">Tentar Novamente</a>
      </div>
    </div>
  </div>
</div>
