.html-index{
  background-color: #252833;
}

.card-main-info{
  background-color: #1F212C;
}

.card-main-info-imp{
  background-color: #1F212C !important;
}

.nav-main{
  background-color: #1F212C;
}

.div-loading{
  z-index: 5;
  width: 100%;
  height:100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.div-loading-content{
  margin-top: 20%;
}

.text-cinza{
  color: #858587 !important;
}

.dados-subGraf{
  margin-top: 4%;
}

.text-padrao{
  font-weight: 300;
}

.fs16{
  font-size: 16px;
}.fs18{
  font-size: 18px;
}.fs20{
  font-size: 20px;
}.fs21{
  font-size: 21px;
}.fs22{
  font-size: 22px;
}.fs23{
  font-size: 23px;
}.fs24{
  font-size: 24px;
}.fs34{
  font-size: 34px;
}.fs2-1rem{
  font-weight: normal;
  font-size: 2.1rem;
}

.margin-zero{
  margin: 0 !important;
}

.preloader-wrapper.bigSimple {
    width: 192px;
    height: 192px;
}

.spinner-white, .spinner-white-only {
    border-color: #ffffff;
}

.div-logo{
  z-index: 6;
  width: 100%;
  height:100vh;
  margin-top: 0.4%;
  text-align: center;
  position: absolute;
}

.logo-simpletrader-loading {
  background-image: url("../imgs/SimpleTraderLogoSemBorda.png");
  background-size: 188px 188px;
  width: 188px;
  height: 188px;
}

.carregado-shadow{
  text-shadow: 4px 4px #000000;
}

.info-fButton {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.icon-large {
    font-size: 2.3rem !important;
}

.button-color-red{
  background-color: #ff0000;
}.button-color-green{
  background-color: #00C97E;
}.button-color-blue{
  background-color: #87B4CE;
}.button-color-gray{
  background-color: rgba(255, 255, 255, 0.25);
}

.modal-info{
  width: 60% !important;
  height: 50% !important;
}

.card-com-margem{
  margin-left: 2%;
  margin-right: 2%;
}

.text-branco{
  color: #ffffff !important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: white;
  border-bottom: 2px solid;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label{
  color: white;
}
