.html-index{
  background-color: #252833;
}

.card-main-info{
  background-color: #1F212C;
  margin-bottom: 0px;
}

.card-main-info-imp{
  background-color: #1F212C !important;
}

.nav-main{
  background-color: #1F212C;
}

.div-loading{
  z-index: 5;
  width: 100%;
  height:100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.div-loading-content{
  /*margin-top: 20%;*/
}

.carousel-ang {
  width: 100%;
  height: 72vh !important;
}

.carousel-ang-orderbook {
  width: 100%;
  height: 76vh !important;
}

.collection-itens-orderbook{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    margin-bottom: 5px !important;
    text-align: center;
    background-color: #252833 !important;
    color: white;
    border-bottom: none !important;
}

.ul-orderbook{
  border: none;
}

.indicators-ang {
  margin-top: 10px;
  letter-spacing: 5px;
  height: 15px;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.cartao-dim{
  background-color: #1F212C;
}

.text-cinza{
  color: #858587 !important;
}

.text-align-center{
  text-align: center;
}

.dados-subGraf{
  margin-top: 4%;
}

.text-padrao{
  font-weight: 300;
}

.fs12{
  font-size: 12px;
}.fs14{
  font-size: 14px;
}.fs16{
  font-size: 16px;
}.fs18{
  font-size: 18px;
}.fs20{
  font-size: 20px;
}.fs21{
  font-size: 21px;
}.fs22{
  font-size: 22px;
}.fs23{
  font-size: 23px;
}.fs24{
  font-size: 24px;
}.fs34{
  font-size: 34px;
}.fs2-1rem{
  font-weight: normal;
  font-size: 2.1rem;
}

.margin-zero{
  margin: 0 !important;
}

.preloader-wrapper.bigSimple {
    width: 192px;
    height: 192px;
}

.spinner-white, .spinner-white-only {
    border-color: #ffffff;
}

.div-logo{
  /*top: 30vh;*/
  z-index: 6;
  width: 100%;
  height:100vh;
  text-align: center;
  position: absolute;
}
.div-logo-2{
  /*top: 29.5vh;*/
  z-index: 7;
  width: 100%;
  height:100vh;
  text-align: center;
  position: absolute;
}

.logo-simpletrader-loading {
  background-image: url("../imgs/SimpleTraderLogoSemBorda.png");
  background-size: 188px 188px;
  width: 188px;
  height: 188px;
}

.carregado-shadow{
  text-shadow: 4px 4px #000000;
}

.info-fButton {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.icon-large {
    font-size: 2.3rem !important;
}

.button-color-red{
  background-color: #ff0000;
}.button-color-green{
  background-color: #00C97E;
}.button-color-blue{
  background-color: #87B4CE;
}.button-color-gray{
  background-color: rgba(255, 255, 255, 0.25);
}

.modal-info{
  width: 60% !important;
  height: 50% !important;
}

.modal-logado{
  width: 95% !important;
  height: 80% !important;
}

.modal-logar{
  width: 80% !important;
  height: 85% !important;
}

.icon-internet-fail{
  font-size: 120px !important;
  color: white;
}

.compra-seta{
  font-size: 15px !important;
  color: #00C97E !important;
}

.venda-bola{
  font-size: 15px !important;
  color: red !important;
}

.modal-connection{
  width: 35% !important;
  height: 50% !important;
}

.icon-warning-modal-connection{
  margin-bottom: 5px !important;
}

.margin-row-under-graf{
  margin-bottom: 10px;
}

.card-com-margem{
  margin-left: 2%;
  margin-right: 2%;
}

.card-padding-10{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.card-top-padding-0{
  padding-top: 0px !important;
}

.row-margin-bottom-10{
  margin-bottom: 10px;
}

.row-margin-bottom-8{
  margin-bottom: 8px;
}

.row-margin-bottom-0{
  margin-bottom: 0px;
}

.row-inputs{
  margin-left: 10%;
  margin-right: 10%;
}

.tabs-select-style{
  background-color: rgba(255, 255, 255, 0.25) !important;
  color: white !important;
}

.login-title{
  padding: 20px;
}

.padding-bottom-20{
  padding-bottom: 20px
}

.tabs-ul-style{
  background-color: transparent !important;
}

.tabs-select-ativo{
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.tabs-select{}

.text-branco{
  color: #ffffff !important;
}

.btn-logado{
  background-color: rgba(255, 255, 255, 0.25);
  width: 100% !important;
}

.toast-sucesso{
  background-color: #00C97E;
  color: white;
}

.toast-falha{
  background-color: #ff0000;
  color: white;
}

.input-disable-functional{
  border-color: white !important;
  color: white !important;
}

.label-disable-functional{
  color: white !important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: white;
  border-bottom: 2px solid;
  color: white;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label{
  color: white;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  border-color: white;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  border-color: white;
  color: white;
}

input:not([type]) + label,
input[type=text]:not(.browser-default) + label,
input[type=password]:not(.browser-default) + label,
input[type=email]:not(.browser-default) + label,
input[type=url]:not(.browser-default) + label,
input[type=time]:not(.browser-default) + label,
input[type=date]:not(.browser-default) + label,
input[type=datetime]:not(.browser-default) + label,
input[type=datetime-local]:not(.browser-default) + label,
input[type=tel]:not(.browser-default) + label,
input[type=number]:not(.browser-default) + label,
input[type=search]:not(.browser-default) + label,
textarea.materialize-textarea + label{
  color: white;
}

input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type=text]:not(.browser-default):disabled,
input[type=text]:not(.browser-default)[readonly="readonly"],
input[type=password]:not(.browser-default):disabled,
input[type=password]:not(.browser-default)[readonly="readonly"],
input[type=email]:not(.browser-default):disabled,
input[type=email]:not(.browser-default)[readonly="readonly"],
input[type=url]:not(.browser-default):disabled,
input[type=url]:not(.browser-default)[readonly="readonly"],
input[type=time]:not(.browser-default):disabled,
input[type=time]:not(.browser-default)[readonly="readonly"],
input[type=date]:not(.browser-default):disabled,
input[type=date]:not(.browser-default)[readonly="readonly"],
input[type=datetime]:not(.browser-default):disabled,
input[type=datetime]:not(.browser-default)[readonly="readonly"],
input[type=datetime-local]:not(.browser-default):disabled,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
input[type=tel]:not(.browser-default):disabled,
input[type=tel]:not(.browser-default)[readonly="readonly"],
input[type=number]:not(.browser-default):disabled,
input[type=number]:not(.browser-default)[readonly="readonly"],
input[type=search]:not(.browser-default):disabled,
input[type=search]:not(.browser-default)[readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
  border-color: #9e9e9e;
  border-bottom: 2px solid;
  color: #9e9e9e;
}

input:not([type]):disabled + label,
input:not([type])[readonly="readonly"] + label,
input[type=text]:not(.browser-default):disabled + label,
input[type=text]:not(.browser-default)[readonly="readonly"] + label,
input[type=password]:not(.browser-default):disabled + label,
input[type=password]:not(.browser-default)[readonly="readonly"] + label,
input[type=email]:not(.browser-default):disabled + label,
input[type=email]:not(.browser-default)[readonly="readonly"] + label,
input[type=url]:not(.browser-default):disabled + label,
input[type=url]:not(.browser-default)[readonly="readonly"] + label,
input[type=time]:not(.browser-default):disabled + label,
input[type=time]:not(.browser-default)[readonly="readonly"] + label,
input[type=date]:not(.browser-default):disabled + label,
input[type=date]:not(.browser-default)[readonly="readonly"] + label,
input[type=datetime]:not(.browser-default):disabled + label,
input[type=datetime]:not(.browser-default)[readonly="readonly"] + label,
input[type=datetime-local]:not(.browser-default):disabled + label,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"] + label,
input[type=tel]:not(.browser-default):disabled + label,
input[type=tel]:not(.browser-default)[readonly="readonly"] + label,
input[type=number]:not(.browser-default):disabled + label,
input[type=number]:not(.browser-default)[readonly="readonly"] + label,
input[type=search]:not(.browser-default):disabled + label,
input[type=search]:not(.browser-default)[readonly="readonly"] + label,
textarea.materialize-textarea:disabled + label,
textarea.materialize-textarea[readonly="readonly"] + label {
  color: #9e9e9e;
}

.flexcroll{
  width:100%;
  height:28vh;
  overflow-y:scroll;
  overflow-x:hidden;
}

.flexcroll{
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
.flexcroll::-webkit-scrollbar {
    width: 0px;
    background-color: none;
}

/* Track */
.flexcroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
